{% extends 'base.html' %}
{% load static %}
{% block title %}Centers{% endblock title %}
{% block centersactive %}active{% endblock centersactive %}
{% block body %}

<p>Centes html</p>

<div class="container">

    <div class="row mb-2">
        <div class="d-grid mx-auto col-sm-10">
            <div class="card text-center">
                <h5 class="card-header">Madhepura</h5>
                <div class="card-body">
                  <h5 class="card-title">Madhepura Center Staff Login</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-sm btn-primary">Login</a>
                </div>
              </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="d-grid mx-auto col-sm-10">
            <div class="card text-center">
                <h5 class="card-header">Purnia</h5>
                <div class="card-body">
                  <h5 class="card-title">Purnia centre staff-login</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-sm btn-primary">Login</a>
                </div>
              </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="d-grid mx-auto col-sm-10">
            <div class="card text-center">
                <h5 class="card-header">Supaul</h5>
                <div class="card-body">
                  <h5 class="card-title">Supaul Centre Staff login-page</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-sm btn-primary">Login</a>
                </div>
              </div>
        </div>
    </div>
</div>

{% endblock body %}